/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-scss/bootstrap";

main > .container {
    padding: 60px 15px 0;
}

.no-padding {
    padding: 0;
}

.no-border-radius {
    border-radius: 0;
}

.header-center {
    width: 100%;
    text-align: center;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
  }

  .form {
    & .form-group {
        float: left;
        width: calc(100% - 90px);
    }
}
