<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-dark fixed-top bg-dark align-center">
    <a class="navbar-brand header-center" href="#">Computer Vision</a>
  </nav>
</header>

<!-- Begin page content -->
<main role="main">
  <div class="container">
      <app-select #appSelect (selected)="updateImage($event); output.getTextFromImage()"></app-select>
      <div class="row" [hidden]="appSelect.isLoading">
        <div class="col-12 col-sm-8 col-lg-6">
            <img [src]="imgSrc" width="100%">
        </div>
        <div class="col-lg-6">
          <app-output #output [hidden]="!imgSrc"></app-output>
        </div>
      </div>
      <div [hidden]="!appSelect.isLoading">
        <div *ngIf="!!appSelect.message else loader">
          {{appSelect.message}}
        </div>
        <ng-template #loader>
          Loading...
        </ng-template>
      </div>
  </div>
</main>
