<form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-group mb-2 mr-2">
        <input id="url" name="url" class="form-control mr-1" ngModel type="text" placeholder="Image URL" required/>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
